
<html>
<head>
    <title>Buscador de Música en Bandcamp</title>
    <!-- hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="conversiones.gif" />
</head>

<body bgcolor="#DDDDDD" >
    <!-- div encabezado -->
    <div style="position: absolute; top: 200px"> 
    <div align="center" style="width: 467px; height: 556px; position: absolute; left: 245px; top: 13px;">

<h2><code>Escriba sobre el tipo de música que quiera buscar o algún detalle en específico</code></h2>
<P><CENTER>
<P><FORM ACTION="http://www.bandcamp.com/search" ENCTYPE="TEXT/PLAIN" method="get" target="_blank">
<INPUT TYPE="text" NAME="q" SIZE="30" ><br>
<A href="http://www.bandcamp.com">Más Información y detalles en Bandcamp.com</A>
</TEXTAREA>
<P><INPUT TYPE="submit" VALUE="Buscar" include file="Prueba(2).html">

</FORM>
<P>
    </div>
    </div>
    <div style="height: 139px; width: 997px; top: 11px; position: absolute; left: 10px;">
        <div style="width: 333px; position: absolute; right: 364px; top: 50px;"> 
            <h1 align="center" style="color: #000055">Buscador de Bandcamp</h1> </div>
    </div>
</body>
</html>
